

body {
  font-family: 'Karla', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #323232;
}

div#header {
  padding: 50px;
  background-color: #EDEDED;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 4em;
  font-family: 'Raleway', 'Georgia', Times, Times New Roman, serif;
}

p.message {
  font-size: 2em;
}

button {
  font-size: 1em;
  font-weight: bold;
  padding: 9px 11px;
  border-radius: 5px;
  color: white;
  border: none;
  height: calc(1em + 20px);
  max-height: calc(1em + 20px);
}

button#home {
  display: none;
  background-color: white;
  color: black;
}

button#tables {
  background-color: #3479B6;
}

button#reservation {
  background-color: #D0322D;
}

hr {
  color: #cccccc;
}

#input {
}
#subheader{
  background-color: gray;
}