

body {
  font-family: 'Karla', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #323232;
}

div#header {
  padding: 50px;
  background-color: #EDEDED;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

div#footer {
  margin: 0 auto;
  padding-top: 20px;
  width: 85%;
}

h1 {
  font-size: 4em;
  font-family: 'Raleway', 'Georgia', Times, Times New Roman, serif;
}

p.message {
  font-size: 2em;
}

button {
  font-size: 1em;
  font-weight: bold;
  padding: 9px 11px;
  border-radius: 5px;
  color: white;
  border: none;
  height: calc(1em + 20px);
  max-height: calc(1em + 20px);
}

button#home {
  background-color: white;
  color: black;
}

button#tables {
  background-color: #3479B6;
}

button#reservation {
  background-color: #D0322D;
}

hr {
  color: #cccccc;
}

input, label {
  margin-left: 10px;
}

input {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

div.tableWrapper,
div#reservationWrapper {
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin: 20px auto;
  width: calc(80% + 100px);

}

div.wrapperHead {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #EDEDED;
  padding: 5px;
  padding-left: 10px;
  font-weight: bold;
}

div#input {
  padding-top: 10px;
}

.number {
  background-color: #3479B6;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px .5em;
  color: white;
}

.table {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #EDEDED;
}
